//common CSS
*{
  font-family: "gmarket_sans";
}

@media all and (min-width:479px) {
  body{
    max-width:768px!important;
    width:100%;
    height:100%;
  }
  .main-content{
    .search-box{
      padding:25px 16% !important;
    }
    .regist-box{
      padding:25px 16% !important;
    }
  }
}

body{
  max-width:478px;
  width:100%;
  height:100%;
  margin:0 auto!important;
}

.main-container{
  padding:80px 20px 0;
  .sub-text{
    color:#717171;
    margin-top:10px
  }
  .main-content{
    margin-top:52px;
    .search-box{
      border: 1px solid #D7E3FF;
      background-color:#ECF5FF;
      border-radius:5px;
      padding:15px 25px;
    }
    .regist-box{
      border: 1px solid #D7E3FF;
      background-color:#ECF5FF;
      border-radius:5px;
      padding:12px 17px;
      margin-top:34px;
    }
  }
}
footer{
  padding:11px 0;
  background-color:#336DF3;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  .regist-btn, .home-btn, .search-btn{
    text-align:center;
    margin:auto 0;
  }
}














.fs-14{font-size:14px}
.fs-16{font-size:16px}
.fs-18{font-size:18px}
.fs-20{font-size:20px}
.fs-22{font-size:22px}
.fs-24{font-size:24px}
.fs-26{font-size:26px}
.fs-28{font-size:28px}
.fs-30{font-size:30px}
.fs-32{font-size:32px}

@font-face {
  font-family: "gmarket_sans";
  src: url("/static/font/GmarketSansTTFMedium.ttf");
}