<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="icon" href="/assets/main/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/regist.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <title>ICAR - EDIT</title>
</head>
<body>
<main>
    <div class="main-container">
        <div class="main-header d-flex align-items-center justify-content-center position-relative">
            <img role="button" class="position-absolute" style="left:0" src="/assets/regist/back_btn.svg" th:onclick="|Page.go('/detail?idx=@{${item.idx}}')|">
            <div class="main-title fw-bold fs-22 text-center">헤드라이트 재고수정</div>
        </div>
        <form id="insertItem" enctype="multipart/form-data">
            <div class="content-box d-flex flex-column w-100" style="gap:36px">
                <div class="inventory-select d-flex justify-content-between align-items-center">
                    <label class="fw-bold">재고선택</label>
                    <div class="position-relative">
                        <div role="button" class="select-title-box d-flex justify-content-between align-items-center" onclick="openInvenList()">
                            <div class="select-title" name="inventory-name" th:text="${item.inventory}"></div>
                            <img src="/assets/regist/dropdown_arrow.svg">
                        </div>
                        <div class="select-list position-absolute top-0 flex-column position-relative">
                            <li role="button" class="hl list-item" onclick="invenChange('hl')">헤드라이트</li>
                            <line style="border: 0.5px solid #7C7C7C;width:100%;order:2"></line>
                            <li role="button" class="hl-jaje list-item" onclick="invenChange('hl-jaje')">헤드라이트 자재</li>
                            <li role="button" class="hl-module list-item" onclick="invenChange('hl-module')">헤드라이트 모듈</li>
                            <li role="button" class="hl-gopum list-item" onclick="invenChange('hl-gopum')">헤드라이트 고품</li>
                        </div>
                    </div>
                </div>
                <div class="type-select d-flex justify-content-between align-items-center">
                    <label class="fw-bold">구분</label>
                    <div class="position-relative">
                        <div role="button" class="type-title-box d-flex justify-content-between align-items-center" onclick="openTypeList()">
                            <div class="type-title" name="type-name" th:text="${item.type}"></div>
                            <img src="/assets/regist/dropdown_arrow.svg">
                        </div>
                        <div class="type-list position-absolute top-0 flex-column position-relative">
                            <li role="button" class="drl list-item" onclick="typeChange('drl')">drl 파이프</li>
                            <line style="border: 0.5px solid #7C7C7C;width:100%;order:2"></line>
                            <li role="button" class="cover list-item" onclick="typeChange('cover')">커버</li>
                            <li role="button" class="housing list-item" onclick="typeChange('housing')">하우징</li>
                            <li role="button" class="bezel list-item" onclick="typeChange('bezel')">베젤</li>
                        </div>
                    </div>
                </div>
                <div class="item-name item-box d-flex justify-content-between align-items-center">
                    <label class="fw-bold" style="width:90px">부품명</label>
                    <input class="w-100" maxlength="50" type="text" name="name" style="border-radius:5px;background-color:#EDEDED;border:none" placeholder="부품명 입력" th:value="${item.name}" />
                </div>
                <div class="item-code item-box d-flex justify-content-between align-items-center">
                    <label class="fw-bold" style="width:90px">부품코드</label>
                    <input class="w-100" maxlength="50" type="text" name="code" style="border-radius:5px;background-color:#EDEDED;border:none" placeholder="부품코드 입력" th:value="${item.code}" />
                </div>
                <div class="item-year item-box d-flex justify-content-between align-items-center">
                    <label class="fw-bold" style="width:90px">연식</label>
                    <input class="w-100" maxlength="50" type="text" name="year" style="border-radius:5px;background-color:#EDEDED;border:none" placeholder="연식 입력" th:value="${item.year}" />
                </div>
                <div class="item-location item-box d-flex justify-content-between align-items-center">
                    <label class="fw-bold" style="width:90px">위치</label>
                    <input class="w-100" maxlength="100" type="text" name="location" style="border-radius:5px;background-color:#EDEDED;border:none" placeholder="위치 입력" th:value="${item.location}" />
                </div>
                <div class="item-note">
                    <label class="fw-bold" style="width:90px">비고</label>
                    <div class="mt-2">
                        <textarea class="w-100" name="note" maxlength="300" type="text" style="border-radius:5px;background-color:#EDEDED;border:none;min-height:74px" placeholder="비고사항을 입력하세요." th:text="${item.note}"></textarea>
                    </div>
                </div>
                <input type="hidden" name="idx" th:value="${item.idx}">
                <div role="button" class="add-inven-btn w-100 fw-bold text-center" onclick="nullType()">업데이트</div>
            </div>
        </form>
    </div>
    <footer class="w-100">
        <div role="button" class="col-4 regist-btn" onclick="Page.go('/regist')"><img src="/assets/main/mobile_regist.svg"></div>
        <div role="button" class="col-4 home-btn" onclick="Page.go('/')"><img src="/assets/main/mobile_home.svg"></div>
        <div role="button" class="col-4 search-btn" onclick="Page.go('/search')"><img src="/assets/main/mobile_search.svg"></div>
    </footer>
</main>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/core.js"></script>
<script src="/js/axios.js"></script>
<script th:inline="javascript">
    $(document).ready(()=>{
        let inven = '';
        let type = '';

        if([[${item.inventory}]] == '헤드라이트'){
            inven = 'hl';
        }else if([[${item.inventory}]] == '헤드라이트 모듈'){
            inven = 'hl-module';
        }else if([[${item.inventory}]] == '헤드라이트 자재'){
            inven = 'hl-jaje';
        }else{
            inven = 'hl-gopum';
        }
        invenChange(inven);

        if([[${item.type}]] == 'drl 파이프'){
            type = 'drl';
        }else if([[${item.type}]] == '커버'){
            type = 'cover';
        }else if([[${item.type}]] == '하우징'){
            type = 'housing';
        }else if([[${item.type}]] == '베젤'){
            type = 'bezel';
        }else{
            type = 'drl';
        }
        typeChange(type);

        Dialog.init();
    });

    function openInvenList(){
        $('.inventory-select .select-list').addClass('active');
    }

    function openTypeList(){
        $('.type-select .type-list').addClass('active');
    }

    function disappearInput(target){
        if([[${item.inventory}]] != $('.inventory-select .select-title')[0].innerText){
            $('.item-name input')[0].value = null;
            $('.item-code input')[0].value = null;
            $('.item-year input')[0].value = null;
            $('.item-location input')[0].value = null;
            $('.item-note textarea')[0].value = null;
        }

        let arr = $('.content-box>div');

        if(target === 'hl-gopum'){
            for(let input of arr){
                $(input).addClass('active');
            }
            $('.content-box .item-note').removeClass('active');
            $('.content-box .inventory-select').removeClass('active');
            return;
        }

        for(let input of arr){
            $(input).removeClass('active');
        }

        switch (target){
            case 'hl' :
                console.log(target)
                $('.content-box .type-select').addClass('active');
                break;
            case 'hl-jaje' :
                console.log(target)
                $('.content-box .item-note').addClass('active');
                break;
            case 'hl-module' :
                console.log(target)
                $('.content-box .type-select').addClass('active');
                break;
        }
    }

    function invenChange(target){
        $('.inventory-select .select-title')[0].innerText = $(`.inventory-select .select-list .${target}`)[0].innerText;
        let obj = $('.inventory-select .select-list .list-item');
        for(let list of obj){
            $(list).css('order', '3');
        }
        $(`.inventory-select .select-list .${target}`).css('order', '1');

        $('.inventory-select .select-list').removeClass('active');

        disappearInput(target);
    }

    function typeChange(target){
        $('.type-select .type-title')[0].innerText = $(`.type-select .type-list .${target}`)[0].innerText;
        let obj = $('.type-select .type-list .list-item');
        for(let list of obj){
            $(list).css('order', '3');
        }
        $(`.type-select .type-list .${target}`).css('order', '1');

        $('.type-select .type-list').removeClass('active');
    }

    function addItem(){
        let data1 = $('.inventory-select .select-title')[0].innerText;
        let data2 = $('.type-select .type-title')[0].innerText;

        if($('.type-select').hasClass('active')){
            data2 = "";
        }

        let formData = new FormData(document.querySelector('#insertItem'));
        formData.append('inventory', data1);
        formData.append('type', data2);
        let vdata = Utils.formToObject(formData);
        console.log(vdata);

        AJAX.post('/editItem', formData).then((res)=>{
            console.log(res);
            Dialog.alert('업데이트가 완료되었습니다.', ()=>{
                Page.go(`/detail?idx=${[[${item.idx}]]}`);
            });
        });
    }

    function nullType(){
        if($('.inventory-select .select-title')[0].innerText != '헤드라이트 고품'){
            nullCheck();
        }else{
            gopumNullCheck();
        }
    }

    function nullCheck(){
        if($('.item-name input')[0].value === null || $('.item-name input')[0].value === undefined || $('.item-name input')[0].value === ""){
            Dialog.alert(`${$('.item-name label')[0].innerText}을(를) 입력하세요.`, ()=>{
                $('.item-name input').focus();
            });
            return;
        }
        if($('.item-code input')[0].value === null || $('.item-code input')[0].value === undefined || $('.item-code input')[0].value === ""){
            Dialog.alert(`${$('.item-code label')[0].innerText}을(를) 입력하세요.`, ()=>{
                $('.item-code input').focus();
            });
            return;
        }
        if($('.item-year input')[0].value === null || $('.item-year input')[0].value === undefined || $('.item-year input')[0].value === ""){
            Dialog.alert(`${$('.item-year label')[0].innerText}을(를) 입력하세요.`, ()=>{
                $('.item-year input').focus();
            });
            return;
        }
        if($('.item-location input')[0].value === null || $('.item-location input')[0].value === undefined || $('.item-location input')[0].value === ""){
            Dialog.alert(`${$('.item-location label')[0].innerText}을(를) 입력하세요.`, ()=>{
                $('.item-location input').focus();
            });
            return;
        }

        addItem();
    }

    function gopumNullCheck(){
        if($('.item-note textarea')[0].value === null || $('.item-note textarea')[0].value === undefined || $('.item-note textarea')[0].value === ""){
            Dialog.alert(`${$('.item-note label')[0].innerText}을(를) 입력하세요.`, ()=>{
                $('.item-note textarea').focus();
            });
            return;
        }

        addItem();
    }
</script>
</body>
</html>